body{
    margin: 0;
    padding: 0;
    color: aliceblue;
    background-color: #362f66;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.boton {
    display: flex;
    padding: 10px;
    background-color: #1e1a34;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; 
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: auto;
    
}

.texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-evenly;
    background-color: #1e1a34;
}

.img-container{
    background-image: url(imagenes/chochan.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    width: 250px;
    text-align: center;
    padding-top: 120px;
    
}


.boton:hover {
    background-color: #257aa4;
}
h1{
    font-size: 55px;

}

footer{
    color: #a1a1a1;
    text-decoration: underline;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0;
    width: 100%;
}
.divFooter{
    color:#dddddd;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #7c7c7c;
}
.social-list {
    list-style: none;
    padding: 0;
    display: flex;
    position:relative;
    float:left;
}

.social-list li {
    margin-right: 25px;
    margin-left: 25px;
    transition: transform 0.3s;
}

.social-list a img {
    width: 40px; 
    height: 40px;
}
.social-list li:hover{
    transform: scale(1.5);
}
.redes{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
}

@media (min-width: 850px){
    .img-container{
        background-image: url(imagenes/chochan.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        height: 400px;
        width: 450px;
        text-align: center;
        padding-top: 300px;
    }
}



