body{
    color: aliceblue;
    background-color: #362f66;

}
.formGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    float:left;
    padding: 10px;
}
#divFlex{
    background-color: rgba(66, 77, 84, 0.834);
    margin: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
}
.formItem{
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
#contact{
    background-image: url('/imagenes/imagen-form.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center;
    align-items: center;
    
}
textarea{
    resize: none;
}
.boton-enviar {
    background-color: transparent;
    border: 2px solid #dcdcdc;
    border-radius: 10px; 
    color: #fbfbfb;
    cursor: pointer; 
    padding: 10px 20px; 
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; 
}

.boton-enviar:hover {
    background-color: #f0f0f0; 
    border-color: #dcdcdc; 
    color: #333; 
}

.boton {
    display: flex;
    padding: 10px;
    background-color: #1e1a34;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; 
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: auto;
    
}

.boton:hover {
    background-color: #257aa4;
}
footer{
    color: #a1a1a1;
    text-decoration: underline;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0;
    width: 100%;
}
.divFooter{
    color:#dddddd;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #7c7c7c;
}
.social-list {
    list-style: none;
    padding: 0;
    display: flex;
    position:relative;
    float:left;
}

.social-list li {
    margin-right: 25px;
    margin-left: 25px;
    transition: transform 0.3s;
}

.social-list a img {
    width: 40px; 
    height: 40px;
}
.social-list li:hover{
    transform: scale(1.5);
}
.redes{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
}
#prueba{
    padding-bottom: 40px;
    padding-top: 4px;
    background-color: transparent;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
h1{
    font-size: 55px;

}